@using YusufCv.Models.Entity
@model YusufCv.Models.Hakkimda
@{
    Layout = null;
}


<section class="section summary-section">
    <h2 class="section-title"><span class="icon-holder"><i class="fas fa-user"></i></span>Hakkımda</h2> 
    <div class="summary">


        <p>@Html.Raw(Model.Aciklama)</p>





</div><!--//summary-->
</section><!--//section-->